:root{
    background-color: antiquewhite;
}

li{
    padding-bottom: 3px;
    color: white;
    text-shadow: 2px 1px 4px;
    list-style-type: none;
}

p{
    color: black;
    text-shadow: 1px 1px grey;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
    margin-top: -.5rem;
}

input{
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}
button {
    display: inline-block;
    font-family: sans-serif;
    background-color: lightseagreen;
    border-radius: 10px;
    border: 3px double yellow;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 150px;
    margin-top: 3px;
}
button:hover {
    box-shadow: 4px 3px 6px green;
}
#startpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#timer{
    font-family: sans-serif;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: 5px double black;
    font-size: x-large;
    text-shadow: .5px .5px black;
    text-align: center;
}
#quiz{
    display: none;
}
#result {
    display: none;
}
#gameover {
    height: 1.5rem;
    border: groove 2px;
}